#container{
    background-color: aqua;
    width: 360px;
    margin: 100px auto; /*Top bottom to be 0 and left and right to be auto */
}

body{
    font-family: Sen;
}

h1{
    font-weight: 700px;
    padding: 10px 20px;
    font-size: 22px;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

input[type=text]{
   width: 100%;
   outline: none;
   box-sizing: border-box;
   auto-fo
}