#container{
    width: 360px;
    margin: 100px auto; /*Top bottom to be 0 and left and right to be auto */
}

body{
    font-family: Sen;
}

input[type=text]{
   width: 100%;
   outline: none;
   box-sizing: border-box;
}

.active-list{
    color: aqua;
}

.hide{
    display: none;
}